<!DOCTYPE html>
<html lang="en">
<head>
<title>Portfolio - Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
ul.a {
  list-style-type: circle;
  padding: 5px 50px 30px;
  margin-bottom: 1px;
  line-height:1.4;
}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="http://127.0.0.1:8000/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="http://127.0.0.1:8000/projects/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Projects</a>
    <a href="http://127.0.0.1:8000/CV" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">CV</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="http://127.0.0.1:8000/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="http://127.0.0.1:8000/projects/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Projects</a>
    <a href="http://127.0.0.1:8000/CV" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">CV</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Data Science Portfolio</h1>
  <p class="w3-xlarge">Alan Tobar</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="#aboutme">About me</a>
    </button>

</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird" id="aboutpj">
      <h1>About this project</h1>
      <h5 class="w3-padding-32"> I have cultivated a comprehensive data science portfolio that showcases my adeptness in tackling intricate challenges through 
        data-driven solutions. With a blend of projects spanning diverse domains, my portfolio underscores my proficiency in data analysis, modeling, 
        and effective communication of insights. From customer segmentation to predictive maintenance,
         I have harnessed a range of tools and techniques, enabling me to contribute actionable insights to various industries.</h5>

      
        <h3>Highlights</h3>
        <ul class="a">
        
          <li>Data science projects, showcasing a wide range of skills and competencies across various industries.</li>
          <li>Proficiency in data preprocessing, exploratory data analysis, machine learning, and predictive modeling.</li>
          <li>Utilized programming languages such as Python and R, along with popular libraries including NumPy, Pandas, Scikit-Learn, and Seaborn.</li>
          <li>Effectively communicated findings through interactive visualizations and reports,</li>
        
        </ul>
        
         
      <p class="w3-text-grey">   
        My data science portfolio not only demonstrates my technical prowess but also highlights my commitment to delivering tangible value through 
        data-driven decision-making. By leveraging a multifaceted skill set and a proactive problem-solving approach, 
        I have consistently translated raw data into strategic insights that drive positive outcomes across diverse sectors.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-area-chart w3-padding-64 w3-text-blue" style="font-size:236px"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-address-card w3-padding-64 w3-text-blue w3-margin-right" style="font-size:236px"></i>
    </div>

    <div class="w3-twothird" id="aboutme">
      <h1>About Me</h1>
      <h5 class="w3-padding-32">My core focus lies in the realm of data management and analysis. I possess a robust proficiency in programming coupled with
        adeptness in utilizing various tools integral to application development.</h5>

        <ul class="a">
          <li>In my capacity as a Data Engineer, I have garnered significant expertise in orchestrating ETL processes employing Python, R,
            and SQL. These competencies enable me to preprocess data effectively and construct regression models, further bolstered by
            my adeptness in supervised learning methodologies for executing rigorous statistical assessments. My repertoire includes a
            comprehensive understanding of information extraction methods and the intricate nuances of multivariate data analysis</li>

          <li>Additionally, in the role of a Development Engineer, my proficiency shines in the seamless creation and deployment of web
        applications. My mastery extends to leveraging MVC frameworks, such as Django and MS .NET, alongside my skillfulness in
        harnessing Node.js to craft dynamic and sophisticated digital solutions.</li>

        </ul>

      <p class="w3-text-grey">I am dedicated to the art of transforming raw data into meaningful narratives. I thrive on deciphering complex patterns and 
        insights that empower informed decisions. With a passion for continuous learning and a commitment to innovation, 
        I look forward to contributing my analytical skills to drive impactful solutions in a data-rich world.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h2 class="w3-margin w3-xlarge">

      "It's not the data that's valuable. It's the insights you draw from it." - Chris Lynch</h2>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Find me on LinkedIn: <a href="https://www.linkedin.com/in/alan-tobar/" target="_blank">  Alan Tobar</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
